doctype
flex-row.login(
  *ngIf="display",
  @opacity
  )
  flex-row.login__header
    h2
      |Log
      span
        |in
  aside.login__aside
    form(
      (ngSubmit) = 'onLogin()',
      [formGroup] = 'loginForm'
      )
      flex-col
        flex-col
          label.label
            |E-mail
          input.input(
            type = 'text',
            name = 'email',
            [formControl] = 'controls.email'
            )
        flex-col
          label.label
            |Password
          input.input(
            type = 'password'
            name = 'password',
            [formControl] = 'controls.password'
          )
        flex-col
          button.btn
            |login
