
<flex-row class="login">
  <flex-row class="login__header">
    <h2>Log<span>in</span></h2>
  </flex-row>
  <aside class="login__aside">
    <form (ngSubmit)="onLogin()" [formGroup]="loginForm">
      <flex-col>
        <flex-col>
          <label class="label">E-mail</label>
          <input class="input" type="text" name="email" [formControl]="controls.email"/>
        </flex-col>
        <flex-col>
          <label class="label">Password</label>
          <input class="input" type="password" name="password" [formControl]="controls.password"/>
        </flex-col>
        <flex-col>
          <button class="btn">login</button>
        </flex-col>
      </flex-col>
    </form>
  </aside>
</flex-row>