section.admin
  nx-header.admin__header
    flex-row.admin__header__navbar
      ng-container(
        *ngIf = 'canShowBackIcon()'
        )
        div.admin__header__navbar__back
          a(
            routerLink = '/'
            )
            img(
              src = '/assets/icons/back.svg',
              alt = 'back'
              )
      div.admin__header__navbar__user(
        *ngIf = '( user$ | async ) as user'
        )
        img.admin__header__navbar__user__avatar.action(
          src = '/assets/icons/avatar.svg',
          alt = 'avatar'
          )
        flex-col.admin__header__navbar__user__dropdown.collapse
          ul.admin__header__navbar__user__dropdown__profile
            li
              h3
                |Organization:
              p
                |{{ user.manager.organization }}
            li
              h3
                |Email:
              p
                |{{ user.email}}
            li.logout
              h3
                |Logout
              button(
                (click) = 'onLogout()'
                )
                img(
                  src = '/assets/icons/logout.svg',
                  alt = 'logout'
                  )
  flex-row.admin__container
    nx-content.admin__container__content
      router-outlet
