doctype
section.change-password(
  *ngIf="display",
  @slideRight
  )
  form(
    (ngSubmit) = 'onChangePassword()',
    [formGroup] = 'changePasswordForm'
    )
    flex-col
      flex-col
        label.label
          |Change Password
        input.input(
          type = 'password',
          name = 'password',
          [formControl] = 'controls.password'
        )
      flex-col
        button.btn
          |Send
