doctype
section.list
  flex-row
    flex-col
      nav.list__navbar
        a.list__navbar__add(
          routerLink = '/add'
          )
          |Add Merchant
          img(
            src = '/assets/icons/add.svg',
            alt = 'add'
            )
      article.list__items
        ng-container(
          *ngIf = '( merchants$ | async ) as merchants'
          )
          ng-container(
            *ngIf = 'merchants.length; else empty'
            )
            ul
              ng-container(
                *ngFor = 'let merchant of merchants'
                )
                li
                  p
                    |{{ merchant.id }}
                  p
                    |{{ merchant.name }}
                  p
                    |{{ merchant.email }}
                  p
                    |{{ merchant.phone }}
          ng-template(
            #empty
            )
            h2
              |Merchants list is empty
    flex-col
      aside.list__aside
        router-outlet
