:\host
  display: flex
  flex-grow: 1

.list
  display: flex
  flex-grow: 1
  background-color: #ffd700

  &__navbar
    padding: 40px

    &__add
      display: flex
      justify-content: space-between
      align-items: center
      width: 400px
      padding-left: 40px
      background-color: #000
      color: #a8a7ae
      border-radius: 35px
      box-shadow: 0 10px 15px 0 #000
      font-size: 20px

      &:hover
        transform: scale(1.01)

      img
        height: 60px
        margin: 5px

  &__items
    padding: 40px

  &__aside
    display: flex
    justify-content: center
    align-items: center
    height: 100%
    background-color: #a8a7ae
    box-shadow: 0 0 15px 0 #000


