doctype
flex-row.list
  flex-col
    nav.list__navbar
      a.list__navbar__add(
        routerLink = '/add'
        )
        |Add Merchant
        img(
          src = '/assets/icons/add.svg',
          alt = 'add'
          )
    article.list__items
      ng-container(
        *ngIf = '( merchants$ | async ) as merchants'
        )
        ng-container(
          *ngIf = 'merchants.length; else empty'
          )
          flex-row.list__items__header
            p
              |Name
            p
              |E-mail
            p
              |Phone
            p
              |Actions
          ul.list__items__body
            ng-container(
              *ngFor = 'let merchant of merchants'
              )
              li.action
                flex-row.flex-y-center
                  p
                    |{{ merchant.name }}
                  p
                    |{{ merchant.email }}
                  p
                    |{{ merchant.phone }}
                  flex-row.actions
                    a(
                      routerLink = `{{'/change-password/' + merchant.id }}`
                      )
                      img(
                        src = '/assets/icons/change.svg',
                        alt = 'change password'
                        )
                    a(
                      routerLink = `{{'/edit/' + merchant.id }}`
                      )
                      img(
                        src = '/assets/icons/edit.svg',
                        alt = 'edit'
                        )
                    button(
                      (click) = 'onRemove(merchant.id)'
                      )
                      img(
                        src = '/assets/icons/remove.svg',
                        alt = 'delete'
                        )
        ng-template(
          #empty
          )
          h2.list__empty
            |Merchants list is empty
  aside.list__aside
    router-outlet
