<!DOCTYPE html>
<section class="list">
  <flex-row>
    <flex-col>
      <nav class="list__navbar"><a class="list__navbar__add" routerLink="/add">Add Merchant<img src="/assets/icons/add.svg" alt="add"></a></nav>
      <article class="list__items">
        <ng-container *ngIf="( merchants$ | async ) as merchants">
          <ng-container *ngIf="merchants.length; else empty">
            <flex-row class="list__items__header">
              <p>Name</p>
              <p>E-mail</p>
              <p>Phone</p>
              <p>Actions</p>
            </flex-row>
            <ul class="list__items__body">
              <ng-container *ngFor="let merchant of merchants">
                <li>
                  <flex-row class="flex-y-center">
                    <p>{{ merchant.name }}</p>
                    <p>{{ merchant.email }}</p>
                    <p>{{ merchant.phone }}</p>
                    <flex-row class="actions"><a routerLink="{{'/change-password/' + merchant.id }}"><img src="/assets/icons/change.svg" alt="change password"></a><a routerLink="{{'/edit/' + merchant.id }}"><img src="/assets/icons/edit.svg" alt="edit"></a>
                      <button (click)="onRemove(merchant.id)"><img src="/assets/icons/remove.svg" alt="delete"></button>
                    </flex-row>
                  </flex-row>
                </li>
              </ng-container>
            </ul>
          </ng-container>
          <ng-template #empty>
            <h2>Merchants list is empty</h2>
          </ng-template>
        </ng-container>
      </article>
    </flex-col>
    <aside class="list__aside">
      <router-outlet></router-outlet>
    </aside>
  </flex-row>
</section>